@charset "IBM866";
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { min-width: 768px; background: url(../img/icons/bg.jpg); font-family: Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; color: #444444; line-height: 1.2; }

a img, fieldset { border: none; }

a { text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Arial, Tahoma, sans-serif; font-size: 14px; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -212px; padding: 0 20px; overflow: hidden; }

.push { height: 212px; clear: both; }

.header { position: relative; height: 188px; margin-bottom: 30px; background: #f6f6f6; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #f2f2f2)); background-image: -webkit-linear-gradient(#f6f6f6, #f2f2f2); background-image: -moz-linear-gradient(#f6f6f6, #f2f2f2); background-image: -o-linear-gradient(#f6f6f6, #f2f2f2); background-image: linear-gradient(#f6f6f6, #f2f2f2); border: 1px solid white; border-width: 2px 1px 1px 1px; box-shadow: 0 0 1px #f9f9f9, 0 0 6px rgba(0, 0, 0, 0.4); border-radius: 0 0 10px 10px; z-index: 10; }

.header__top, .header__down { height: 86px; }

.header__top { height: 90px; margin-bottom: 18px; background: url(../img/icons/header-line.png) repeat-x 0 100%; }
.header__top:before, .header__top:after { content: ""; display: table; }
.header__top:after { clear: both; }

.header__down { height: 71px; padding: 0 30px; }

.logo { float: left; margin: 19px 0 0 23px; }

.logo__pic { display: block; margin: 0 12px 5px 0; background: url('../img/icons-sf0b4ed60e4.png') 0 0 no-repeat; width: 172px; height: 41px; }

.logo__txt { display: block; font-size: 12px; font-style: italic; color: #444444; text-align: right; }

.login { position: relative; float: right; margin: 40px 0 0 55px; padding: 2px 0 2px 6px; background: #009bea; }
.login > a, .login > button { float: left; }
.login > a { color: white; }
.login > button { padding: 1px 5px; margin-left: 14px; border-left: 1px solid #97dbfd; background: none; }
.login > button i { display: block; background: url('../img/icons-sf0b4ed60e4.png') 0 -2004px no-repeat; width: 14px; height: 14px; }
.login:before { content: ""; position: absolute; top: 0; left: -8px; width: 0px; height: 0px; border-style: solid; border-width: 10px 8px 10px 0; border-color: transparent #009bea transparent transparent; }
@media only screen and (max-width: 1120px) { .login { margin: 40px 0 0 20px; } }

.login__links { display: none; position: absolute; top: 27px; right: 11px; padding: 5px 8px; border: 1px solid #dedede; border-radius: 2px; background: #fafafa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.login__links li { border-top: 1px dotted #d6d6d6; }
.login__links li:first-child { border: none; }
.login__links a { position: relative; display: block; padding: 4px 0 4px 29px; color: #979797; }
.login__links a:hover { color: #009bea; }
.login__links i { position: absolute; top: 3px; left: 3px; }

.login__link-1 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1747px no-repeat; width: 16px; height: 16px; }
.login__link-1:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1773px no-repeat; width: 16px; height: 16px; }

.login__link-2 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -2150px no-repeat; width: 16px; height: 16px; }
.login__link-2:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -2176px no-repeat; width: 16px; height: 16px; }

.login__link-3 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1915px no-repeat; width: 16px; height: 16px; }
.login__link-3:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1941px no-repeat; width: 16px; height: 16px; }

.nav { float: right; margin-top: 42px; }
.nav a { float: left; margin-left: 40px; color: #666666; }
.nav a:first-child { margin-left: 0; }
.nav a:hover { color: #222222; }
@media only screen and (max-width: 1120px) { .nav a { margin-left: 20px; } }

.sel-shop { float: left; height: 64px; padding: 7px 13px 0 16px; border: 1px solid #e1e1e1; border-width: 0 1px; box-shadow: 1px 0 0 #fcfcfc, 1px 0 0 #fcfcfc inset; }

.sel-shop__list { position: relative; margin-bottom: 10px; }
.sel-shop__list button { position: relative; padding-right: 15px; background: none; font-size: 14px; text-shadow: 0 1px 0 white; color: #666666; }
.sel-shop__list button:after { content: ""; position: absolute; top: 5px; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #656565 transparent transparent transparent; box-shadow: 0 -1px 0 white; }
.sel-shop__list.is-open button:after { border-width: 0 5px 5px 5px; border-color: transparent transparent #656565 transparent; box-shadow: 0 1px 0 white; }
.sel-shop__list ul { display: none; position: absolute; top: 20px; left: -13px; right: -10px; padding: 0 4px; border: 1px solid #dedede; border-radius: 2px; background: #fafafa; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); z-index: 10; }
.sel-shop__list li { padding: 6px; border-top: 1px dotted #d6d6d6; font-size: 0; text-align: center; }
.sel-shop__list li:first-child { border: none; }

.sel-shop__pic { text-align: center; }

.menu { overflow: hidden; white-space: nowrap; font-size: 0; }
.menu > li { position: relative; display: inline-block; max-width: 90px; height: 71px; border-right: 1px solid #e1e1e1; box-shadow: 1px 0 0 #fcfcfc; white-space: normal; vertical-align: top; text-align: center; }
.menu > li > a { position: relative; display: block; padding: 45px 10px 0; font-size: 11px; color: #666666; text-transform: uppercase; }
.menu > li > a:hover { color: #7dc444; }
.menu > li i { position: absolute; top: 0; left: 50%; margin-left: -27px; }

.menu__sub { display: none; position: absolute; top: 95px; left: -3px; padding: 23px 17px; border-radius: 5px; border: 2px solid white; box-shadow: 0 0 1px #f9f9f9, 0 0 6px rgba(0, 0, 0, 0.4); background: #f6f6f6; text-align: left; white-space: nowrap; }
.menu__sub ul { display: inline-block; width: 220px; vertical-align: top; font-size: 14px; white-space: normal; }
.menu__sub li { padding-top: 5px; }
.menu__sub li:first-child { padding: 0; }
.menu__sub li.is-selected a { font-weight: bold; color: #999999; }
.menu__sub li.is-selected a:before { background: #999999; }
.menu__sub a { position: relative; display: block; padding-left: 10px; color: #444444; }
.menu__sub a:before { content: ""; position: absolute; top: 6px; left: 0; width: 4px; height: 4px; border-radius: 50%; background: #444444; }
.menu__sub a:hover { color: #009bea; }
.menu__sub a:hover:before { background: #009bea; }
.menu__sub:before { content: ""; position: absolute; top: -16px; left: 40px; background: url('../img/icons-sf0b4ed60e4.png') 0 -1857px no-repeat; width: 16px; height: 16px; }

.menu__item-1 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -639px no-repeat; width: 55px; height: 39px; }
.menu__item-1:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -737px no-repeat; width: 55px; height: 39px; }

.menu__item-2 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1291px no-repeat; width: 55px; height: 39px; }
.menu__item-2:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1372px no-repeat; width: 55px; height: 39px; }

.menu__item-3 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -835px no-repeat; width: 55px; height: 39px; }
.menu__item-3:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -884px no-repeat; width: 55px; height: 39px; }

.menu__item-4 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -51px no-repeat; width: 55px; height: 39px; }
.menu__item-4:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -100px no-repeat; width: 55px; height: 39px; }

.menu__item-5 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -394px no-repeat; width: 55px; height: 39px; }
.menu__item-5:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -345px no-repeat; width: 55px; height: 39px; }

.menu__item-6 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -933px no-repeat; width: 55px; height: 39px; }
.menu__item-6:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -982px no-repeat; width: 55px; height: 39px; }

.menu__item-7 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -247px no-repeat; width: 55px; height: 39px; }
.menu__item-7:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -296px no-repeat; width: 55px; height: 39px; }

.menu__item-8 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -443px no-repeat; width: 55px; height: 39px; }
.menu__item-8:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -541px no-repeat; width: 55px; height: 39px; }

.menu__item-9 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1210px no-repeat; width: 55px; height: 39px; }
.menu__item-9:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1161px no-repeat; width: 55px; height: 39px; }

.menu__item-10 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -492px no-repeat; width: 55px; height: 39px; }
.menu__item-10:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -590px no-repeat; width: 55px; height: 39px; }

.menu__item-11 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1031px no-repeat; width: 55px; height: 39px; }
.menu__item-11:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1112px no-repeat; width: 55px; height: 39px; }

.menu__item-12 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -198px no-repeat; width: 55px; height: 39px; }
.menu__item-12:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -149px no-repeat; width: 55px; height: 39px; }

.menu__item-13 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1583px no-repeat; width: 55px; height: 39px; }
.menu__item-13:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1632px no-repeat; width: 55px; height: 39px; }

.menu__item-14 i { background: url('../img/icons-sf0b4ed60e4.png') 0 -688px no-repeat; width: 55px; height: 39px; }
.menu__item-14:hover i { background: url('../img/icons-sf0b4ed60e4.png') 0 -786px no-repeat; width: 55px; height: 39px; }

.footer { height: 188px; padding-top: 22px; background: #2d3537; border-top: 2px solid white; box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.4) inset; }

.footer__in { width: 760px; margin: 0 auto; }
.footer__in:before, .footer__in:after { content: ""; display: table; }
.footer__in:after { clear: both; }

.footer__left { float: left; }
.footer__left .logo { position: relative; display: block; float: none; padding-bottom: 15px; margin: 2px 0 18px 0; }
.footer__left .logo:after { content: "....................................."; position: absolute; left: 15px; text-shadow: 0 0 2px #999999; color: #999999; }
.footer__left .logo__txt { color: white; }

.social { font-size: 0; }
.social a { display: inline-block; margin-left: 25px; }
.social a:first-child { margin-left: 0; }

.social__ok { background: url('../img/icons-sf0b4ed60e4.png') 0 -1825px no-repeat; width: 12px; height: 22px; }
.social__ok:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -1517px no-repeat; width: 12px; height: 22px; }

.social__fb { background: url('../img/icons-sf0b4ed60e4.png') 0 -2118px no-repeat; width: 11px; height: 22px; }
.social__fb:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -2086px no-repeat; width: 11px; height: 22px; }

.social__vk { background: url('../img/icons-sf0b4ed60e4.png') 0 -1883px no-repeat; width: 18px; height: 22px; }
.social__vk:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -1681px no-repeat; width: 18px; height: 22px; }

.social__tw { background: url('../img/icons-sf0b4ed60e4.png') 0 -1453px no-repeat; width: 25px; height: 22px; }
.social__tw:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -1421px no-repeat; width: 25px; height: 22px; }

.social__rss { background: url('../img/icons-sf0b4ed60e4.png') 0 -1485px no-repeat; width: 20px; height: 22px; }
.social__rss:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -1340px no-repeat; width: 20px; height: 22px; }

.footer__nav { float: right; }
.footer__nav ul { float: left; }
.footer__nav ul:first-child { margin-right: 35px; }
.footer__nav ul:first-child + ul { margin-right: 85px; }
.footer__nav li { margin-bottom: 4px; font-size: 12px; }
.footer__nav li:first-child { font-weight: bold; color: #7dc444; }
.footer__nav a { color: #f6f6f6; }
.footer__nav a:hover { text-decoration: underline; }

.copyright { padding-top: 23px; clear: both; font-size: 12px; text-align: center; color: #fdfdfd; }

.rub { position: relative; display: inline-block; margin-left: 5px; font-style: normal; }
.rub:before, .rub:after { content: ""; position: absolute; left: 0; height: 2px; background: #009bea; }
.rub:before { top: 7px; width: 3px; }
.rub:after { top: 10px; width: 8px; }

.checkbox { position: relative; display: block; min-height: 18px; margin-bottom: 10px; padding: 3px 0 0 30px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.checkbox input, .checkbox i { position: absolute; top: 0; left: 0; width: 21px; height: 21px; }
.checkbox input { opacity: 0; }
.checkbox input:checked + i { background: url('../img/icons-sf0b4ed60e4.png') 0 -2202px no-repeat; width: 21px; height: 21px; }
.checkbox i { border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset; }

.layout { position: relative; padding-right: 315px; }
.layout:before, .layout:after { content: ""; display: table; }
.layout:after { clear: both; }
@media only screen and (max-width: 1120px) { .layout { padding-right: 0; } }

.left { float: left; width: 240px; }

.center { margin-left: 275px; }
@media only screen and (max-width: 1120px) { .center { margin-left: 260px; } }

.search { position: relative; margin-bottom: 20px; }
.search input { width: 185px; height: 30px; padding: 0 44px 0 9px; border: 1px solid #7dc444; border-radius: 3px; }
.search button { position: absolute; top: 0; right: 0; width: 36px; height: 32px; background: #7dc444; border-radius: 3px; overflow: visible; }
.search button i { position: absolute; top: 8px; left: 10px; background: url('../img/icons-sf0b4ed60e4.png') 0 -2028px no-repeat; width: 16px; height: 16px; }

.filter__item { margin-bottom: 20px; }

.filter__title { padding: 14px; background: #7dc444; border-radius: 3px 3px 0 0; text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; color: white; }
.filter__title span { position: relative; padding-left: 32px; }
.filter__title i { position: absolute; top: 2px; left: 0; }

.filter__ico-1 { background: url('../img/icons-sf0b4ed60e4.png') 0 -1549px no-repeat; width: 24px; height: 24px; }

.filter__list { position: relative; padding: 15px 10px; background: white; box-shadow: 0 0 4px rgba(0, 0, 0, 0.14); border: 1px solid #e7e7e7; border-width: 0 1px; }
.filter__list:after { content: ""; position: absolute; bottom: -8px; left: 0; right: 0; height: 8px; background: url(../img/icons/wave.png) repeat-x; }

.bc { padding: 8px 10px; margin-bottom: 20px; background: white; border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.16); text-align: justify; font-size: 0; }
@media only screen and (max-width: 1380px) { .bc .bc__links, .bc .bc__filter { display: block; }
  .bc .bc__links { margin-bottom: 5px; }
  .bc .bc__push { display: none; } }

.bc__links, .bc__filter, .bc__push { display: inline-block; vertical-align: top; font-size: 14px; text-align: left; }

.bc__push { width: 100%; }

.bc__links { margin-right: 20px; }
.bc__links a { position: relative; padding: 0 20px 0 30px; margin-right: 7px; color: #444444; }
.bc__links a:hover { text-decoration: underline; }
.bc__links a i { position: absolute; top: -5px; left: 0; }
.bc__links a:after { content: ""; position: absolute; top: 6px; right: 0; background: url('../img/icons-sf0b4ed60e4.png') 0 -2309px no-repeat; width: 13px; height: 5px; }
.bc__links span { color: #009bea; }

.bc__ico-1 { background: url('../img/icons-sf0b4ed60e4.png') 0 -1713px no-repeat; width: 24px; height: 24px; }

.bc__filter span { margin-right: 5px; }
.bc__filter button { position: relative; padding-right: 13px; background: none; line-height: 1.2; color: #009bea; overflow: visible; }
.bc__filter button:after { content: ""; position: absolute; top: 6px; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 5px 5px 0 5px; border-color: #009bea transparent transparent transparent; }

.catalog__list { margin: 0 -10px; font-size: 0; }

.catalog__item { display: inline-block; width: 25%; min-width: 240px; vertical-align: top; }
@media only screen and (max-width: 1600px) { .catalog__item { width: 33.3%; } }
@media only screen and (max-width: 1380px) { .catalog__item { width: 50%; } }

.catalog__item-in { position: relative; margin: 0 10px 25px; background: white; box-shadow: 0 0 4px rgba(0, 0, 0, 0.16); border-radius: 3px 3px 0 0; font-size: 14px; }
.catalog__item-in:after { content: ""; position: absolute; bottom: -8px; left: 0; right: 0; height: 8px; background: url(../img/icons/wave.png) repeat-x; }
.catalog__item-in.is-selected { background: #edf8fe; }
.catalog__item-in.is-selected .catalog__pic img { border-color: #c8e0ee; }
.catalog__item-in.is-selected .catalog__price { background: url(../img/icons/bg-line-gray.png) repeat-x 0 0, url(../img/icons/bg-line-gray.png) repeat-x 0 100%; }
.catalog__item-in.is-selected .catalog__price strong { color: #666666; }
.catalog__item-in.is-selected .catalog__price .rub:before, .catalog__item-in.is-selected .catalog__price .rub:after { background: #666666; }
.catalog__item-in.is-selected:after { background: url(../img/icons/wave-blue.png) repeat-x; }

.catalog__pic { position: relative; padding: 9px; }
.catalog__pic img { display: block; width: 100%; border: 1px solid #eeeeee; }

.catalog__like { position: absolute; top: 16px; right: 16px; cursor: pointer; background: url('../img/icons-sf0b4ed60e4.png') 0 -2054px no-repeat; width: 23px; height: 22px; }
.catalog__like:hover { background: url('../img/icons-sf0b4ed60e4.png') 0 -1259px no-repeat; width: 23px; height: 22px; }
.catalog__like.is-active { background: url('../img/icons-sf0b4ed60e4.png') 0 -1080px no-repeat; width: 23px; height: 22px; }

.catalog__title { height: 38px; padding: 5px 10px 20px; font-size: 16px; }

.catalog__price { padding: 11px 10px; background: url(../img/icons/bg-line.png) repeat-x 0 0, url(../img/icons/bg-line.png) repeat-x 0 100%; }
.catalog__price:before, .catalog__price:after { content: ""; display: table; }
.catalog__price:after { clear: both; }
.catalog__price span { float: left; font-weight: bold; color: #666666; }
.catalog__price strong { float: right; color: #009bea; }

.catalog__down { height: 42px; padding-top: 7px; }
.catalog__down .weight { margin: 1px 0 0 10px; }

.catalog__buy-btn { position: relative; width: 75%; height: 30px; background: #009bea; text-transform: uppercase; font-weight: bold; color: white; }
.catalog__buy-btn:after { content: ""; position: absolute; top: 0; right: -8px; width: 0px; height: 0px; border-style: solid; border-width: 15px 0 15px 8px; border-color: transparent transparent transparent #009bea; }
.catalog__buy-btn:hover { background: #2db8fe; }
.catalog__buy-btn:hover:after { border-color: transparent transparent transparent #2db8fe; }

.catalog__sum { float: right; padding-right: 10px; text-align: right; }
.catalog__sum strong { display: block; color: #009bea; }
.catalog__sum button { background: none; font-size: 12px; color: #c9c7c7; }

.catalog__more-btn { width: 100%; padding: 9px 20px; margin-bottom: 40px; background: white; border-radius: 4px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.16); color: #009bea; }
.catalog__more-btn:hover { color: #2db8fe; }

.weight { float: left; }
.weight button { position: relative; float: left; width: 32px; height: 27px; background: #7dc444; overflow: visible; }
.weight button:hover { background: #9bea31; }
.weight i { position: absolute; top: 5px; left: 8px; }

.weight__val { float: left; background: white; border: 1px solid #7dc444; border-width: 1px 0; }
.weight__val input, .weight__val span { float: left; height: 25px; font-size: 16px; font-weight: bold; }
.weight__val input { width: 45px; text-align: center; }
.weight__val span { margin-right: 7px; line-height: 25px; }

.weight__btn-plus { border-radius: 0 2px 2px 0; }
.weight__btn-plus i { background: url('../img/icons-sf0b4ed60e4.png') 0 -1799px no-repeat; width: 16px; height: 16px; }

.weight__btn-minus { border-radius: 2px 0 0 2px; }
.weight__btn-minus i { background: url('../img/icons-sf0b4ed60e4.png') 0 -2283px no-repeat; width: 16px; height: 16px; }

.cart { position: absolute; top: 0; right: 0; width: 280px; margin-bottom: 20px; z-index: 100; }
@media only screen and (max-width: 1120px) { .cart { right: -300px; }
  .cart .cart__show-btn { display: block; } }

.cart__show-btn { display: none; position: absolute; top: 130px; left: -50px; width: 50px; height: 50px; border-radius: 5px 0 0 5px; background: #009bea; overflow: visible; }
.cart__show-btn i { position: absolute; top: 10px; left: 10px; background: url('../img/icons-sf0b4ed60e4.png') 0 -1967px no-repeat; width: 31px; height: 27px; }
.cart__show-btn:hover { background: #2db8fe; }

.cart__title { padding: 14px; background: #009bea; border-radius: 3px 3px 0 0; text-align: center; font-size: 24px; font-weight: bold; text-transform: uppercase; color: white; }
.cart__title span { position: relative; padding-left: 39px; }
.cart__title i { position: absolute; top: 0; left: 0; background: url('../img/icons-sf0b4ed60e4.png') 0 -1967px no-repeat; width: 31px; height: 27px; }

.cart__list { background: white; border: 1px solid #e7e7e7; border-width: 0 1px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.16); -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.cart__list li { position: relative; padding: 10px 20px 10px 30px; border-top: 1px dashed #e5e5e5; font-size: 0; }
.cart__list li:first-child { border-top: none; }
.cart__list li.is-empty { background: #f1f1f1; border-top: 1px solid #cfcfcf; box-shadow: 0 -1px 0 #cfcfcf; }
.cart__list li.is-empty strong { display: none; }
.cart__list li.is-empty img { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; }
.cart__list strong { position: absolute; top: 50%; right: 20px; margin-top: -10px; font-size: 16px; color: #009bea; }
.cart__list .rub:after { top: 11px; width: 9px; }
.cart__list .rub:before { top: 8px; }
.cart__list .cart__total { padding: 14px 20px 14px 30px; }
.cart__list .cart__total:before, .cart__list .cart__total:after { content: ""; display: table; }
.cart__list .cart__total:after { clear: both; }
.cart__list .cart__total span { float: right; font-size: 24px; }
.cart__list .cart__total span { float: right; color: #009bea; font-weight: bold; }
.cart__list .cart__total span:first-child { float: left; color: #444444; }
.cart__list .cart__total .rub:before, .cart__list .cart__total .rub:after { height: 3px; }
.cart__list .cart__total .rub:before { top: 13px; }
.cart__list .cart__total .rub:after { top: 17px; width: 13px; }

.cart__go { position: relative; width: 100%; height: 50px; background: #009bea; }
.cart__go:after { content: ""; position: absolute; bottom: -4px; left: 0; right: 0; height: 4px; background: url(../img/icons/cart-wave.png) repeat-x; }
.cart__go span { font-size: 16px; color: white; text-transform: uppercase; font-weight: bold; }
.cart__go span:after { content: " •"; }
.cart__go span:before { content: "• "; }
.cart__go:hover { background: #2db8fe; }
.cart__go:hover:after { background: url(../img/icons/cart-wave-h.png) repeat-x; }
