%footer.row-fluid
  .footer-wrap
    .span10.pull-right
      .span3
        .logo
          %a{:href => '/'}
            %img{src: '/assets/logo.png', alt: 'Globomarket'}
            %i Покупки это просто
        .b-separator
        .social
          %a{:href => '/'}
            %i.soc.odn
          %a{:href => '/'}
            %i.soc.fb
          %a{:href => '/'}
            %i.soc.vk
          %a{:href => '/'}
            %i.soc.rss
          %a{:href => '/'}
            %i.soc.tw
      .span3
        %ul
          %li.title Информация
          %li
            %a{:href => '/'} О нас
          %li
            %a{:href => '/'} Безопасность
          %li
            %a{:href => '/'} Советы
          %li
            %a{:href => '/'} Карта сайты
          %li
            %a{:href => '/'} Помощь
          %li
            %a{:href => '/'} Контактная информация
        .copy  © GLOBO Market 2010-2012
      .span3
        %ul
          %li.title Магазины
          %li
            %a{:href => '/'} Глобус Гурме
          %li
            %a{:href => '/'} Перекресток
          %li
            %a{:href => '/'} Азбука Вкуса
          %li
            %a{:href => '/'} Алые паруса
      .span3
        %ul
          %li.title Дополнительно
          %li
            %a{:href => '/'} Форум
          %li
            %a{:href => '/'} Обсуждения
          %li
            %a{:href => '/'} Аналитика
          %li
            %a{:href => '/'} Рецепты