.search
  %form#search-form
    %input{:type => "search", :placeholder => "Поиск"}
    %input.btn.btn-green{:type => "submit"}

.filter.categories
  %h3
    %i.icons.cat
    Категории
  %ul.cat-filter-list
    %li
      %input{:type => "checkbox", :id => "cf1", :name => "cf1"}
      %label{:for => "cf1"} Суши
    %li
      %input{:type => "checkbox", :id => "cf2", :name => "cf2"}
      %label{:for => "cf2"} Сашими
    %li
      %input{:type => "checkbox", :id => "cf3", :name => "cf3"}
      %label{:for => "cf3"} Роллы
    %li
      %input{:type => "checkbox", :id => "cf4", :name => "cf4"}
      %label{:for => "cf4"} Японские супы
    %li
      %input{:type => "checkbox", :id => "cf5", :name => "cf5"}
      %label{:for => "cf5"} Японские салаты
    %li
      %input{:type => "checkbox", :id => "cf6", :name => "cf6"}
      %label{:for => "cf6"} Напитки