%header
  .navbar.top-bar
    %nav.navbar-inner
      .container
        .logo.pull-left
          %a{:href => "/"}
            %img{src: "/assets/logo.png", alt: "Globomarket"}
            %i Покупки это просто
        .pull-right
          %ul.nav
            %li.active
              %a{:href => "/"} Каталог
            %li
              %a{:href => "/"} Контакты
            %li
              %a{:href => "/"} Рецепты
            %li
              %a{:href => "/"} Новости
            %li
              %a{:href => "/"} Компания
          %ul.actions.pull-left
            %li
              %a{:href => "/"} Вход
            %li
              %a{:href => "/"} Регистраця
  .lines.h-separator
  .navbar.bottom-bar
    %nav.navbar-inner
      .container
        #main-menu.pull-left
          %ul.categories
            %li.select-store
            %li.item.active
              %a{:href => "/"}
                %span
                  %i.icons.bread
                Выпечка
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.vegan
                Овощи и фрукты
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.milk
                Молочные и яица
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.meat
                Мясо и рыба
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.freezer
                Морозилка
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.cook
                Кулинария
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.preserves
                Консервы и&nbsp;приправы
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.grocery
                Бакалея
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.sweet
                Закуски и сладости
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.drink
                Напитки
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.home
                Для дома
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.child
                Детское
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.hygiene
                Гигиена
            %li.item
              %a{:href => "/"}
                %span
                  %i.icons.pets
                Для животных
