%header.scroll-header
  .navbar.top-bar
    %nav.navbar-inner
      .container
        .logo.pull-left
          %a{:href => '/'}
            %img{src: '/assets/logo.png', alt: 'Globomarket'}
            %i Покупки это просто
        .pull-right
          %ul.nav
            %li.active
              %a{:href => '/'} Каталог
            %li
              %a{:href => '/'} Контакты
            %li
              %a{:href => '/'} Рецепты
            %li
              %a{:href => '/'} Новости
            %li
              %a{:href => '/'} Компания
          %ul.actions.pull-left
            %li
              %a{:href => '/'} Вход
            %li
              %a{:href => '/'} Регистраця
    .lines.h-separator

  .navbar.bottom-bar
    %nav.navbar-inner
      .container
        #main-menu.pull-left
          %ul.categories
            %li.select-store
              %span Выбраный магазин
              %select#selectStore
                %option{'data-imagesrc' => '/assets/logos/alieparusa.jpg', :value => '0'}
                %option{'data-imagesrc' => '/assets/logos/asbukavkusa.jpg', :value => '1'}
                %option{'data-imagesrc' => '/assets/logos/globusgurme.jpg', :value => '2'}
                %option{'data-imagesrc' => '/assets/logos/metro.jpg', :value => '3'}
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.bread
                Выпечка
            %li.item.dropdown
              %a{:href => '/', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                %span
                  %i.icons.vegan
                Овощи и фрукты
              %ul.dropdown-menu
                %li.active
                  %a{:href => '/'} Блюда японской кухни
                %li
                  %a{:href => '/'} Салаты
                %li
                  %a{:href => '/'} Холодные закуски
                %li
                  %a{:href => '/'} Соусы собственного приготовления
                %li
                  %a{:href => '/'} Мясные блюда
                %li
                  %a{:href => '/'} Блюда из птицы
                %li
                  %a{:href => '/'} Блюда из рыбы и морепродуктов
                %li
                  %a{:href => '/'} Овощные блюда, гарниры
                %li
                  %a{:href => '/'} Супы
            %li.item.dropdown
              %a{:href => '/', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
                %span
                  %i.icons.milk
                Молочные и яица
              %ul.dropdown-menu
                %li.active
                  %a{:href => '/'} Блюда японской кухни
                %li
                  %a{:href => '/'} Салаты
                %li
                  %a{:href => '/'} Холодные закуски
                %li
                  %a{:href => '/'} Соусы собственного приготовления
                %li
                  %a{:href => '/'} Мясные блюда
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.meat
                Мясо и рыба
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.freezer
                Морозилка
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.cook
                Кулинария
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.preserves
                Консервы и&nbsp;приправы
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.grocery
                Бакалея
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.sweet
                Закуски и сладости
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.drink
                Напитки
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.home
                Для дома
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.child
                Детское
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.hygiene
                Гигиена
            %li.item
              %a{:href => '/'}
                %span
                  %i.icons.pets
                Для животных
