.basket.item-box
  %h3.box-title.blue
    %i.ui.bask
    Корзина
  .box-content
    %ul.basket-list
      %li.b-l-item
        .b-l-img
          %img{:src => '/assets/logos/alieparusa.jpg'}
        %span.b-l-price
          3369,00
          %i.rubl a
      %li.b-l-item
        .b-l-img
          %img{:src => '/assets/logos/asbukavkusa.jpg'}
        %span.b-l-price
          3369,00
          %i.rubl a
      %li.b-l-item
        .b-l-img
          %img{:src => '/assets/logos/globusgurme.jpg'}
        %span.b-l-price
          3369,00
          %i.rubl a
      %li.b-l-item
        .b-l-img
          %img{:src => '/assets/logos/metro.jpg'}
        %span.b-l-price
          3369,00
          %i.rubl a
      %li.bask-summary
        %span Всего:
        %span.b-s
          5246,00
          %i.rubl a
    %a{:href => '/', :class => 'confirm-order'}
      %span Оформить заказ