.basket.item-box
  %h3.box-title.blue
    %i.ui.bask
    Корзина
  .box-content
    %ul.basket-list
      %li.b-l-item
        %a.b-l-item-link{:href => '#modal-basket-products', :'data-toggle' => 'modal'}
          %span.b-l-img
            %img{:src => '/assets/logos/alieparusa.jpg'}
          %span.b-l-price
            3369,00
            %i.rubl a
      %li.b-l-item
        %a.b-l-item-link{:href => '#'}
          %span.b-l-img
            %img{:src => '/assets/logos/asbukavkusa.jpg'}
          %span.b-l-price
            3369,00
            %i.rubl a
      %li.b-l-item
        %a.b-l-item-link{:href => '#'}
          %span.b-l-img
            %img{:src => '/assets/logos/globusgurme.jpg'}
          %span.b-l-price
            3369,00
            %i.rubl a
      %li.b-l-item
        %a.b-l-item-link{:href => '#'}
          %span.b-l-img
            %img{:src => '/assets/logos/metro.jpg'}
          %span.b-l-price
            3369,00
            %i.rubl a
      %li.bask-summary
        %span Всего:
        %span.b-s
          5246,00
          %i.rubl a
    %a{:href => '/', :class => 'confirm-order'}
      %span Оформить заказ
      
#modal-basket-products.modal-basket-products.modal.hide.fade{:'aria-hidden' => 'true'}
  .modal-header
    %a.modal-basket-close.close{:'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
      Вернуться к покупкам
    %h3
      Ваши покупки
  .modal-body
    .good-list-wrapper.with-custom-scrollbar
      .mCustomScrollBox
        .mCSB_container
          %ul.good-list.modal-good-list{:style => "width: #{(190 * 8).to_s}px"}
            - (1..8).each do |i|
              %li.good-item
                %a.good-del{:href => '#'}
                  %i.ui.del
                .good-img
                  %img{:src => '/assets/demo/d1.jpg', :width => '175'}
                .good-info
                  %h5.good-title Ролл с крабовыми палочками Калифорния...
                  .quantity.clearfix
                    .q-manage
                      %button.btn.btn-green.q-btn -
                      %input.q-value{:type => 'text', :value => '1 кг'}
                      %button.btn.btn-green.q-btn +
                  .good-price
                    %span.good-price-label Стоимость:
                    %span.good-price-value
                      75,00
                      %i.rubl a
  .modal-footer
    .modal-basket-summary
      .m-b-s-delivery
        %span Доставка:
        %span.price
          400,00
          %i.rubl a
      .m-b-s-total
        %span Итого:
        %span.price
          3396,00
          %i.rubl a