.line-box
  .span8
    %i.icons.cook.mini.pull-left
    %ul.breadcrumb.pull-left
      %li
        %a{:href => '#'} Кулинария
        %span.divider &rarr;
      %li.active Блюда японской кухни
  .sortBy.pull-right
    %label
      Сортировать:
      %select
        %option{:value => '1'} Самое популярное
        %option{:value => '2'} По увеличению цены
        %option{:value => '3'} По уменьшению цены



.goods-content
  %ul.good-list
    - (1..8).each do |i|
      %li.good-item.span4
        .good-img
          %img{:src => '/assets/demo/d1.jpg'}
          %span.star
        .good-info
          %h5.good-title Плов с мясом баранины по рецепту Глобус Гурмэ
          .good-price
            %span Цена (за 50 гр)
            %span.price
              75,00
              %i.rubl a
          .good-bottom
            %button.add-basket В корзину
            .quantity
              .q-manage
                %button.btn.btn-green -
                %input{:type => 'text', :value => '500 гр', :class => 'q-value'}
                %button.btn.btn-green +
              %span.summary
                1460,00
                %i.rubl a
            .del-order
              %i.ui.del
              Убрать из заказа

.line-box.text-center
  %a{:href => '/', :class => 'blueLight-color', :id => 'show-more'} Показать еще 567 наименований
