%h2 Личный кабинет

.profile-wrapper
  .profile-menu
    %ul.profile-menu-list
      %li.profile-menu-item
        %a.profile-menu-link.profile-menu-link-active{:href => '#'}
          Личные данные
      %li.profile-menu-item
        %a.profile-menu-link{:href => '#'}
          Избранное
      %li.profile-menu-item
        %a.profile-menu-link{:href => '#'}
          Мои покупки
      %li.profile-menu-item
        %a.profile-menu-link{:href => '#'}
          Адреса

  .profile-content.profile-info
    %form.profile-info-form
      %fieldset
        %label ФИО
        .row-fluid
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Иванов'}
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Иван'}
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Иванович'}
      %fieldset
        %label Пароль
        .row-fluid
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Текущий'}
            %span.help-block Текущий пароль
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Новый'}
            %span.help-block Новый пароль. Пароль должен состоять минимум из 8 символов (A-Z, a-z, 0-9)
          %span.span4
            %input.input-large{:type => 'text', :placeholder => 'Повторите'}
            %span.help-block Повторите пароль
