  .icons {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    background: url('/assets/icons_menu.png') no-repeat 0 -9px;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    &.bread {
      background-position: 0 -9px;
      width: 55px;
      height: 22px;
    }
    &.vegan {
      background-position: -96px -7px;
      width: 23px;
      height: 26px;
    }
    &.milk {
      background-position: -173px -5px;
      width: 33px;
      height: 29px;
    }
    &.meat {
      background-position:- 248px -3px;
      width: 37px;
    }
    &.freezer {
      background-position: -330px -2px;
      width: 31px;
      height: 34px;
    }
    &.cook {
      background-position: -408px -6px;
      width: 37px;
      height: 26px;
    }
    &.preserves {
      background-position: -486px -3px;
      width: 42px;
      height: 34px;
    }
    &.grocery {
      background-position: -561px -2px;
      width: 45px;
      height: 37px;
    }
    &.sweet {
      background-position: -647px -3px;
      width: 33px;
      height: 32px;
    }
    &.drink {
      background-position: -725px 0;
      width: 43px;
      height: 36px;
    }
    &.home {
      background-position: -805px -1px;
      width: 40px;
      height: 32px;
    }
    &.child {
      background-position: -888px -2px;
      width: 34px;
      height: 34px;
    }
    &.hygiene {
      background-position: -978px -3px;
      width: 19px;
      height: 34px;
    }
    &.pets {
      background-position: -1053px -6px;
      width: 28px;
      height: 28px;
    }
  }
  a:hover, .active, .open {
    .bread {
      background-position-y: -54px;
    }
    .vegan {
      background-position-y: -52px;
    }
    .milk {
      background-position-y: -50px;
    }
    .meat {
      background-position-y: -48px;
    }
    .freezer {
      background-position-y: -47px;
    }
    .cook {
      background-position-y: -51px;
    }
    .preserves {
      background-position-y: -48px;
    }
    .grocery {
      background-position-y: -47px;
    }
    .sweet {
      background-position-y: -48px;
    }
    .drink {
      background-position-y: -45px;
    }
    .home {
      background-position-y: -46px;
    }
    .child {
      background-position-y: -47px;
    }
    .hygiene {
      background-position-y: -48px;
    }
    .pets {
      background-position-y: -51px;
    }
  }

.lines {
  background: url('/assets/lines.png') repeat-x;
  width: 100%;
  &.h-separator {
    background-position: 0 0;
    height: 4px;
  }
}