// Colors & bg
$body-bg:             url(/assets/bg.png) repeat;
$header-bg:           #f6f6f6;
$header-grad-top-bg:  #f6f6f6;
$header-grad-bot-bg:  #f1f1f1;
$goods-bg:            #fff;
$goods-bg-hover:      #edf8fe;

$green-main:          #7dc444;
$link-hover:          #3F3F3F;
$text-color:          #666666;
$blue:                #009bea;
$gray:                #999;


