// Basket styles
.content-right {
  .basket {
    &:after {
      display: none!important;
    }
    //---------------------------------------
    // +/- good from basket
    //---------------------------------------
    .spin {
      border: 2px solid red;
      padding:2px;

      .minus,.plus {
        border: 1px solid green;
        cursor: pointer;
        padding:2px;
      }
      .minus{
        &.disabled {
          background-color: #ffff00;
        }
      }
      .plus {

      }
      .count {

      }
    }
    .box-title {
      margin-bottom: 0;
    }
    .box-content {
      padding-top: 0!important;
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .basket-list {
      margin-bottom: 0;
      .b-l-item {
        border-bottom: 1px dotted #e4e4e4;
        @include clearfix;
        padding: 9px 0;
        position: relative;
      }
      .b-l-img {
        float: left;
        padding-left: 20px;
        width: 165px;
      }
      .b-l-price {
        color: $blue;
        float: right;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        right:15px;
        margin-top: -10px;
      }
      .bask-summary {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        span {
          padding: 15px 0 15px 18px;
          display: inline-block;
        }
        .b-s {
          text-transform: none;
          color: $blue;
          float: right;
          padding-left: 0;
          padding-right: 13px;
        }
      }
    }
    .confirm-order {
      background: $blue;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: -5px;
      position: relative;
      padding: 18px 0;
      @include transition(all 0.0s linear !important);
      &:hover {
        background: lighten($blue, 15%);
        &:after {
          background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 75%, lighten($blue, 15%) 75%) 0 50%, -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, lighten($blue, 15%) 75%) 0 50%;
          background-repeat: repeat-x;
          background-size: 10px 9px, 10px 9px;
        }
      }
      &:active {
        background: darken($blue, 5%);
        &:after {
          background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 75%, darken($blue, 5%) 75%) 0 50%, -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, darken($blue, 5%) 75%) 0 50%;
          background-repeat: repeat-x;
          background-size: 10px 9px, 10px 9px;
        }
      }
      &:after {
        background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 75%, $blue 75%) 0 50%, -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, $blue 75%) 0 50%;
        background-repeat: repeat-x;
        background-size: 10px 9px, 10px 9px;
        bottom: -10px;
        content: " ";
        display: block;
        height: 11px;
        left: 0px;
        position: absolute;
        width: 100%;
      }
      span {
        &:after, &:before {
          content: "• ";
          font-size: 24px;
          vertical-align: middle;
          color: #fff;
          margin-top: -1px;
          display: inline-block;
          margin-right: 10px;
        }
        &:after {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }
}