.cat-filter-list {
  label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
    input[type='checkbox']    {
      display: none;
    }
  }
  .check {
    background: #fff;
    display: inline-block;
    height: 22px;
    margin-right: 6px;
    vertical-align: middle;
    width: 22px;

    @include box-shadow(#{inset 0 1px 3px rgba(0, 0, 0, 0.16)});
    @include border-radius(#{4px});
    &.yes {
      background: url(/assets/ui-icons.png) no-repeat ;
      background-position: -32px 6px;
    }
  }
}
.sortBy {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 5px;

  .dd-container, label {
    display: inline-block;
    margin: 0;

  }
  .dd-container {
    .dd-option {
      background: #fff!important;
      text-align: left;
      padding: 5px 10px;
      &:hover {
        color: $blue-light;
      }
      .dd-option-text {
        font-size: 12px;
      }
    }
    .dd-options {
      box-shadow: none;
      top: 25px;
      width: 100%!important;
      @include border-radius(#{0 0 4px 4px});
    }
  }
  > label {
    position: relative;
    vertical-align: top;
  }
  .dd-select {
    border:0!important;
    -moz-appearance: none;
    margin-bottom: 2px;
    outline: none!important;
    padding: 0;
    padding-right: 15px;
    width: auto;
    @include border-radius(#{0});

    .dd-selected-text {
      color: $blue-light;
    }
    .dd-selected {
      padding: 0 10px 0 0;
      line-height: 10px;
    }
    .dd-pointer {
      &.dd-pointer-down {
        border-top-color: $blue-light;
      }
      &.dd-pointer-up {
        border-bottom-color: $blue-light!important;
        border-top-color: transparent!important;
      }
    }
  }
}