

.goods-content {
  overflow: hidden;
  padding: 2px;
  margin-left: -2px;
  * {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
  }
  .good-list {
    margin: 0;
    display: table;
    width: 104%;

    .good-item {
      background: $goods-bg;
      border: 1px solid transparent;
      float: left;
      max-height: 400px;
      margin-bottom: 18px;
      margin-right: 18px;
      margin-left: 0;
      padding: 10px;
      position: relative;
      width: 30.62393%;
      //width: 240px;
      @include box-shadow(#{0 1px 6px rgba(0, 0, 0, 0.16)});
      @include border-radius(#{4px 4px 0 0});
      &:after {
        background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 75%, #FFF 75%) 0 50%, -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, #FFF 75%) 0 50%;
        background-repeat: repeat-x;
        background-size: 10px 9px, 10px 9px;
        bottom: -10px;
        content: " ";
        display: block;
        height: 11px;
        left: -1px;
        position: absolute;
        width: 100%;
      }

      &:hover, &.active {
        background: $goods-bg-hover;
        border-color: #d9e5eb;
        @include box-shadow(#{0 1px 8px rgba(0, 0, 0, 0.20)});

        &:after {
          background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 75%, $goods-bg-hover 75%) 0 50%, -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 75%, $goods-bg-hover 75%) 0 50%;
          background-repeat: repeat-x;
          background-size: 10px 9px, 10px 9px;
        }

        .good-img {
          border-color: #c8e0ee;
          .star {
            display: block;
          }
        }

        .good-price {
          border-color: #cad5da;
          .price {
            color: $text-color;
          }
        }
      }

      .good-img {
        border: 1px solid #eeeeee;
        background: #f7f7f7;
        width: 100%;
        overflow: hidden;

        @include border-radius(#{2px});

        .star {
          position: absolute;
          right:16px;
          top: 16px;
          display: none;
          cursor: pointer;
          opacity: 0.7;
          filter: alpha(opacity=70);
          -webkit-transition: none;
          -moz-transition: none;
          -o-transition: none;
          transition: none;
          &.active {
            display: block;
          }
          &:hover {
            opacity: 1;
            filter: alpha(opacity=100);
          }
        }
      }

      .good-info {

      }
      .good-title {
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        line-height: 20px;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: normal;
      }

      .good-price {
        border: 1px dashed #f9f9f9;
        border-width: 1px 0 1px 0;
        font-weight: bold;
        padding: 8px 10px;
        margin-left: -10px;
        width: 109%;


        .price {
          color: $blue;
          float: right;

          .rubl {
            font-weight: bold;
          }
        }
      }

      .add-basket {
        background: $blue;
        border: 0;
        bottom: 14px;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        height: 30px;
        left: -1px;
        position: absolute;
        text-transform: uppercase;
        width: 75%;


        &:after {
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 7px solid $blue;
          content: '';
          height: 0;
          position: absolute;
          right: -7px;
          top:0;
          width: 0;
        }

        &:hover {
          background: lighten($blue, 15%);
          &:after {
               border-left-color: lighten($blue, 15%);
          }
        }
        &:active {
          background: darken($blue, 5%);
          &:after {
            border-left-color: darken($blue, 5%);
          }
        }
      }
      .good-bottom {
        overflow: hidden;
        height: 62px;
        position: relative;
        left: -11px;
        width: 109%;
      }
      .quantity {
        position: absolute;
        bottom: 25px;
        left: 10px;
        width: 92.3%;
        display: none;

        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;

        .q-manage {
          float: left;
          font-size: 0;
          .btn {
            font-size: 27px;
            position: relative;
            padding: 2px 6px 6px 6px;
            width: 30px;
            @include border-radius(#{1px});
          }
          .q-value {
            background: #fff;
            border: 1px solid $green-main;
            border-width: 1px 0 1px 0;
            color: $text-color;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            height: 28px;
            line-height: 16px;
            max-width: 59px;
            margin-bottom: 0;
            margin-left: -1px;
            margin-right: -1px;
            padding: 5px;
            text-align: center;
            vertical-align: middle;
            width: auto;
            min-width: 0;
            @include border-radius(#{0px});
            @include box-shadow(#{none});
          }
        }
        .summary {
          color: $blue;
          float: right;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .del-order {
        bottom: 0px;
        color: #c9c7c7;
        cursor: pointer;
        display: none;
        font-size: 12px;
        left: 10px;
        position: absolute;


        &:hover {
          color: #979595;
          .ui {
            filter: alpha(opacity=100);
            opacity: 1;
          }
        }
        .ui {
          cursor: pointer;
          filter: alpha(opacity=80);
          margin: 0 5px -3px 0;
          opacity: .8;

        }
      }
    }
  }

  .more-wrapper {

  }
}