.market {
  .logo {
    position: relative;

    a {
      color: $text-color;
      text-decoration: none;
    }

    i {
      font-size: 12px;
      position: absolute;
      bottom: -20px;
      left: 70px;
      white-space: nowrap;
    }
  }
  header {
    background: $header-grad-top-bg; /* Old browsers */
    background: -moz-linear-gradient(top,  $header-grad-top-bg 0%, $header-grad-bot-bg 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$header-grad-top-bg), color-stop(100%,$header-grad-bot-bg)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $header-grad-top-bg 0%,$header-grad-bot-bg 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $header-grad-top-bg 0%,$header-grad-bot-bg 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $header-grad-top-bg 0%,$header-grad-bot-bg 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $header-grad-top-bg 0%,$header-grad-bot-bg 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
    border: 2px solid #ffffff;
    @include box-shadow(#{0 0 6px rgba(0,0,0, .4)});
    @include border-radius(#{0 0 10px 10px});

    .navbar {
      background: transparent;
      margin-bottom: 0;
    }

    .navbar-inner {
      background: transparent;
      background-image: none;
      border: 0;
      box-shadow: none;
      padding: 0 32px;
    }

    .top-bar {
      .navbar-inner {
        padding-top: 20px;
        padding-bottom: 25px;



        .nav {
          margin-top: 14px;
          margin-right: 15px;

          li {
            margin-left: 22px;

            a {
              padding: 3px 6px;
              @include border-radius(#{2px});
              &:hover {
                background: lighten($gray, 30%);
                box-shadow: none;
                font-size: 14px;
                text-shadow: none;

              }
            }

            &.active {
              a {
                background: $blue;
                box-shadow: none;
                color: #fff;
                font-size: 14px;
                text-shadow: none;
              }
            }
          }
        }

        .actions {
          margin-top: 16px;
          margin-bottom: 0;

          li {
            display: inline-block;
            margin-left: 12px;

            a {
              font-size: 12px;

            }
          }
        }
      }
    }
    .bottom-bar{}
  }

  // MainMenu
  #main-menu {
    display: table;
    padding: 20px 0 10px;
    width: 100%;

    .categories {
      border-left: 1px solid #e1e1e1;
      display: table-row;
      height: 100%;
      margin: 0;
      @include clearfix;

      .item {
        display: table-cell;
        height: 70px;
        line-height: normal;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        vertical-align: top;
        width: 87px;

        &.active, &.open {
          > a {
            color: $green-main;
          }
        }

        > a {
          border-right: 1px solid #e1e1e1;
          border-left: 1px solid #fafafa;
          color: $text-color;
          display: block;
          font-size: 11px;
          font-weight: bold;
          height: 75px;
          padding: 0 5px;
          position: relative;
          text-decoration: none;
          width: 100%;

          span {
            display: table-cell;
            height: 43px;
            vertical-align: middle;
            width: 85px;
          }

          &:hover {
            color: $green-main;
          }

        }
      }
    }

    .open {
      .dropdown-menu {
        margin: 30px 0 0;
        opacity: 1;
        top: 100%;
        visibility: visible;
        z-index: 1000;

        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;
      }
    }

    .dropdown-menu {
      border: 0;
      display: block;
      left: -22px;
      margin-top: 0;
      opacity: 0;
      padding: 20px;
      text-align: left;
      visibility: hidden;
      @include box-shadow(#{0 0 5px rgba(0,0,0, .3)});
      @include box-sizing(#{content-box});

      &:after {
        position: absolute;
        top: -14px;
        left: 34px;
        display: inline-block;
        background: url('/assets/arrow-top.png') no-repeat;
        width: 16px;
        height: 16px;
        content: ''; }

      .column-list {
        float: left;
        padding-left: 20px;
        width: 174px;

        &:first-child {
          padding: 0;
        }
      }

      li {
        display: block;

        &.active {
          a {
            color: $gray!important;
            cursor: default;
            font-weight: bold;
            &:before {
              background: $gray!important;
            }
          }
        }

        a {
          background: none!important;
          color: $text-color;
          display: inline-block;
          font-size: 14px;
          padding: 0 0 0 12px;
          position: relative;
          text-decoration: none;
          text-transform: none;

          &:hover {
            color: $blue;
            &:before {
              background: $blue;
            }
          }

          &:before {
            background: $text-color;
            content: '';
            height: 3px;
            left: 4px;
            position: absolute;
            top: 9px;
            width: 3px;
            @include border-radius(#{500px});

          }
        }

        ul {
          margin: 0;
        }
      }
    }

    .select-store {
      border-right: 1px solid #e1e1e1;
      border-left: 1px solid #e1e1e1;
      cursor: pointer;
      float: left;
      height: 75px;
      padding: 0 5px;
      width: 170px;

      > span {
        margin-left: 10px;
      }

      #selectStore {
        text-align: center;
        margin-top: 3px;

        .dd-option-image, .dd-selected-image {
          max-width: 100%;
        }

        .dd-option, .dd-selected {
          padding: 8px 15px;
        }

        .dd-option-selected {
          display: none;
        }

        .dd-options {
          border-color: #dedede;
          @include box-shadow(#{0px 1px 1px rgba(199,199,199, .75)});
          @include border-radius(#{0 0 2px 2px});

          li {
            padding: 0 5px;

            .dd-option {
              border-top: 1px dotted #d6d6d6;
              border-bottom: 0;

              &:hover {
                img {
                  -webkit-filter: grayscale(0%);
                }
              }
            }
          }
        }

        .dd-pointer {
          border-top-color: $text-color;
          right: 5px;
          top: -10px;
        }

        .dd-select {
          border: 0;
          border-radius: 0;

          img {
            -webkit-filter: grayscale(0%);
          }

          &.open {
            border: 1px solid #dedede;
            border-width:  1px 1px 0 1px;
            @include border-radius(#{2px 2px 0 0});
          }

        }

        img {
          float: none!important;

          -webkit-filter: grayscale(100%);
          -webkit-transition: all 0.15s linear;
          -moz-transition: all 0.15s linear;
          -o-transition: all 0.15s linear;
          transition: all 0.15s linear;
        }
      }
    }
  }
}

