// Main page styles

.main-page {
  #header {
    background: $header-footer-bg;
    border-bottom: 4px solid $green-main;
    height: 60px;
    margin: 0px 0px 50px 0px;

    .logo {
      padding: 5px;
    }
    .user-state {
      float: right;
    }
  }

  h1 {
    margin-bottom: 0px;
    &.line-two {
      color: darken($green-main, 10%);;
    }
  }

  .reasons {
    li {
      list-style: circle;
      padding: 5px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .description {
      font-size: 12px;
      font-style: italic;
    }
  }
}