html, body {min-height: 100%;}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}


.market {
  #wrap {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100%;

    min-width: 1200px;
  }
  #main {
    overflow:auto;
    //padding-bottom: 210px;
  }
  #how-to {
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url('/assets/GloboMarket_rev_3.jpg');
    width: 1400px;
    height: 1825px;
    opacity: .5;
    display: none;
  }

  // Content
  #wrapper {
    clear: both;
    //overflow: hidden;
    margin-top: 30px;

    // Main Content
    .content-main {
    }

    // Left column
    .content-left {
      float: left;
      left: 20px;
      position: relative;
      width: 230px;
    }

    // Right column
    .content-right {
      float: right;
      right: 20px;
      position: relative;
      width: 270px;

      .scroll {
        width: 270px;
      }
    }

    .with-sidebars {
      position: relative;
      .content-main {
        float: none;
        margin: 0 320px 0 270px;
        box-sizing: content-box;
      }
    }

    .without-leftside {
      .content-main {
        margin: 0 320px 0 20px;
        @include clearfix;
      }
    }
  }

}
.scroll {
  z-index: 9;
}
.affix {
  top: 129px;

}

.scroll-header.affix {
  top:-10px;
  z-index: 10;
  width: 1360px;
  .top-bar {
    display: none;
  }
}
.affix-bottom {
  top: auto;
  position: absolute;
  bottom: 2px;
}

@font-face {
  font-family: 'ALSRublRegular';
  src: url('/assets/rouble.eot');
  src: url('/assets/rouble.eot?iefix') format('eot'),
  url('/assets/rouble.woff') format('woff'),
  url('/assets/rouble.ttf') format('truetype'),
  url('/assets/rouble.svg#ALSRubl') format('svg');
  font-weight: normal;
  font-style: italic;
}

i.rubl {
  font-family: 'ALSRublRegular';
}


.btn {
  border: 0;
  background-image: none!important;
  background: transparent;
  background-repeat: none;
  text-shadow: none;
  color: #fff;

  &:hover, &:active, &:focus {
    color: #fff;
    outline: none;
    background-position: none;
    @include transition(none);
  }
  &.btn-blue {
    background: $blue;
    &:hover {
      background: lighten($green-main, 15%);
    }
    &:active {
      background: darken($green-main, 5%);
    }
  }
  &.btn-green {
    background: $green-main;
    &:hover {
      background: lighten($green-main, 15%);
    }
    &:active {
      background: darken($green-main, 5%);
    }
  }
}

.arrow-btn {
  background: $blue;
  border: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 170px;
  &:after {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 7px solid $blue;
    content: '';
    height: 0;
    position: absolute;
    right: -7px;
    top:0;
    width: 0;
  }

  &:hover {
    background: lighten($blue, 15%);
    &:after {
      border-left-color: lighten($blue, 15%);
    }
  }
  &:active {
    background: darken($blue, 5%);
    &:after {
      border-left-color: darken($blue, 5%);
    }
  }
}


.container-fluid {
  padding: 0;
}
