= content_for :content do
  / Content
  #wrapper.container-fluid
    .without-leftside.row-fluid
      / Корзина
      .content-right
        .scroll
          = render :partial => 'partials/right-side'

      / Content
      .content-main
        = content_for?(:main) ? yield(:main) : yield

= render :template => 'layouts/application'