= content_for :content do
  / Content
  #wrapper.container-fluid
    .without-leftside.row-fluid
      /  Right menu

      / Content
      .content-main.span9
        = content_for?(:main) ? yield(:main) : yield

      .content-right.span3
        /= basket

= render :template => 'layouts/application'